{% extends "index.html" %}
{% block content %}

{% for blog in blogs %}
<div class="blog">
	<div class="row blog-header">
		<div class="col-xs-10">
			<h4><a class="blog-subject" href="/blog/{{blog.key().id()}}">{{blog.subject}}</a></h4>
		</div>
		<div class="col-xs-2">
			<small>{{blog.created.strftime('%Y.%m.%d')  }}</small>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-11">
			<blockquote class="justify-text">{{blog.get_content(blog.content) | safe}}</blockquote>
		</div>
	</div>
</div>
{% endfor %}

{% endblock %}

