{% extends "index.html" %}
{% block content %}
<div class="blog">
	<div class="blog-title">{{blog.subject}}</div>
	<div class="blog-actions">
		<a href="/blog/delete/{{blog.key().id()}}">Remove</a>

		<a href="/blog/edit/{{blog.key().id()}}">Edit</a>
	</div>
	<pre class="blog-body">{{blog.get_content(blog.content) | safe}}</pre>
</div>

<form method="post">
	<label for="comment">
		<span>comment</span>
	</label>
		<textarea name="comment" id="comment"></textarea>
		<input type="submit" value="insert comment">
</form>
<ul>
	{% for comment in comments %}
	<li>{{comment.comment_content}}
		<a href="/comment/edit/{{comment.key().id()}}">Edit</a>
		<a href="/comment/delete/{{comment.key().id()}}">Remove</a>
	</li>
	{% endfor %}
</ul>
{% endblock %}